@import url('./base.css');
@import url('./buttons.css');

body {
    /* overflow-x: hidden; */
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-wrapper,
.section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header {
    background-color: var(--bg-white);
    box-shadow: 5px 0 5px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem 0;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            text-decoration: none;
            color: var(--primary-blue);
        }

        .header-burger {
            display: none;
        }

        .header-burger-button {
            display: none;
        }

        .navigation {
            .navigation-list {
                display: flex;
                gap: 1rem;
                list-style: none;

                .navigation-item {
                    .navigation-link {
                        color: var(--text-grey);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.hero {
    background-color: var(--bg-white);
    margin-top: .25rem;

    .hero-wrapper {

        .hero-information {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1.5rem;
            padding-right: 2rem;

            .hero-title {
                font-size: 1rem;
                color: var(--primary-blue);
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .hero-subtitle {
                font-size: 2.5rem;
                color: var(--text-black);
            }

            .hero-text {
                color: var(--text-grey);
                font-size: 1.25rem;
                letter-spacing: 1.5px;
                padding-right: 6rem;
            }

            .hero-button-group {
                display: flex;
                gap: .5rem;
            }
        }

        .hero-image-container {
            overflow: hidden;

            .hero-image {
                width: 100%;
            }
        }
    }
}

/* Separator */
.separator {
    background-color: var(--bg-dark-grey);

    .separator-information {
        color: var(--text-grey);
        padding: 3rem 0;
    }
}

/* Info Section */
.info-section {
    padding: 2rem 0;
    .info-section-image-container {
        .info-section-image {
            width: 100%;
        }
    }

    .info-section-information {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1.5rem;
            padding-left: 2rem;

            .info-section-title {
                font-size: 1rem;
                color: var(--primary-blue);
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .info-section-subtitle {
                font-size: 2.5rem;
                color: var(--text-black);
            }

            .info-section-text {
                color: var(--text-grey);
                font-size: 1.25rem;
                letter-spacing: 1.5px;
                padding-right: 6rem;
            }
        }
}

/* Products */
.products-section {
    background-color: var(--bg-light-grey);

    .products-wrapper {
        padding: 6rem 0;

        .products-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            list-style: none;
            padding-right: 3rem;

            .product-list-item {
                border: 1px solid black;
                border-radius: 5px;
                padding: 2rem 4rem 2rem 2rem;
                background-color: var(--bg-white);
                cursor: pointer;
                transition: all;
                
                .product-link {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.25rem;
                    text-decoration: none;
                    color: var(--primary-blue);

                    .product-arrow {
                        transition: all .3s ease;
                        opacity: 0;
                    }
                }
            }

            .product-list-item:hover {
                .product-arrow {
                    transform: translateX(2rem);
                    opacity: 1;
                }
            }
                
        }

        .products-information {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1.5rem;
            padding-left: 2rem;
            
            .products-title {
                font-size: 1rem;
                color: var(--primary-blue);
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            
            .products-subtitle {
                font-size: 2.5rem;
                color: var(--text-black);
            }
            
            .products-text {
                color: var(--text-grey);
                font-size: 1.25rem;
                letter-spacing: 1.5px;
                padding-right: 6rem;
            }
        }
    }
}

/* Why */
.why-section {
    background-color: var(--bg-white);

    .why-wrapper {
        padding: 6rem;
        display: grid;
        gap: 5rem;
        
        .why-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            text-align: center;
            
            .why-title {
                font-size: 1rem;
                color: var(--primary-blue);
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            
            .why-subtitle {
                font-size: 2.5rem;
                color: var(--text-black);
            }
            
            .why-text {
                text-align: center;
                color: var(--text-grey);
                font-size: 1.25rem;
                letter-spacing: 1.5px;
            }
        }

        .why-cards {
            display: grid;
            gap: 6rem;
            grid-template-columns: repeat(3, 1fr);

            .why-card {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                letter-spacing: 1px;
                color: var(--text-grey);

                .why-icon {
                    color: var(--primary-blue);
                    font-size: 1.25rem;
                }
            }
        }
    }
}

/* Support */
.support-section {
    background-color: var(--bg-light-grey);

    .support-wrapper {
        padding: 2rem 0;

        .support-information {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1.5rem;
            
            .support-title {
                font-size: 1rem;
                color: var(--primary-blue);
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            
            .support-subtitle {
                font-size: 2.5rem;
                color: var(--text-black);
            }
            
            .support-text {
                color: var(--text-grey);
                font-size: 1.25rem;
                letter-spacing: 1.5px;
            }
        }

        .support-image-container {
            margin-left: auto;
        }
    }
}    

/* Get Started */
.start-section {
    background: var(--bg-gradient);

    .start-wrapper {
        padding: 6rem 0;

        .start-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .5rem;
            font-size: 3rem;
            color: var(--text-light);
        }

        .start-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            color: var(--text-light);

            .start-text {
                font-size: 1.25rem;
            }

            .start-button-group {
                display: flex;
                gap: .5rem;
                
                .button > i {
                    padding-right: 1rem;
                    transition: all .3s ease;
                }
    
                .button:hover > i {
                    transform: translateX(.5rem);
                }
            }

        }
    }
}

/* Footer */
.footer {
    display: flex;
    color: var(--text-light);

    .footer-about {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        flex: 1;
        background-color: var(--secondary-blue);

        .footer-text {
            color: var(--text-dizzy);
        }
    }

    .footer-container {
        padding: 4rem;
        flex: 4;
        background-color: var(--primary-blue);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        .footer-links {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .footer-link {
                color: var(--text-dizzy);
                text-decoration: none;
            }
        }

        .footer-title {
            grid-area: auto / span 3;
        }
        
        .footer-social-media {
            grid-area: auto / span 1;
            display: flex;
            list-style: none;
            gap: 1.5rem;

            .footer-social-link {
                color: var(--text-light);
                font-size: 1.5rem;
            }
        }

        .footer-copyright {
            grid-column: auto / span 4;
            font-size: .75rem;
            color: var(--text-dizzy);
            
            a {
                color: var(--text-dizzy);
                
            }
        }
    }
}

    
@media (max-width: 1200px) {
    .wrapper {
        padding: 0 1rem;
    }

    .products-section {
        .products-wrapper {
            padding: 6rem 1rem;
        }
    }

    .support-section {
        .support-wrapper {
            padding: 6rem 1rem;
        }
    }

    .start-section {
        .start-wrapper {
            padding: 6rem 1rem;
        }
    }
}

@media (max-width: 992px) {
    
    .hero {
        .hero-wrapper {
            .hero-information {
                .hero-subtitle {
                    font-size: 2rem;
                }
            }
        }
    }

    .info-section {
        .section-wrapper {
            .info-section-information {
                .info-section-subtitle {
                }
            }
        }
    }

    .products-section {
        .products-wrapper {

            .products-list {

                .product-list-item {
                    padding: 2rem;
                }

                .product-list-item:hover {

                .product-arrow {
                    transform: translateX(1rem);
                }
            }
            }

            .products-information {
                .products-subtitle {
                    font-size: 2rem;
                }
            }
        }
    }

    .why-section {
        .why-wrapper {
            .why-information {
                .why-subtitle {
                    font-size: 2rem;
                }
            }
        }
    }

    .support-section {
        .support-wrapper {
            .support-information {
                .support-subtitle {
                    font-size: 2rem;
                }
            }
        }
    }

    .start-section {
        .start-wrapper {
            .start-title {
            }
        }
    }

    .footer {
        /* .start-wrapper */
        .footer-about {
        }
    }
}

@media (max-width: 900px) {
    .products-section {
        .products-wrapper {

            .products-list {

                .product-list-item:hover {
                    transform: none;
                }
            }
        }
    }

    .why-section {
        .why-wrapper {
            padding: 2rem 1rem;

            .why-cards {
                gap: 2rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .grid-wrapper {
        /* grid-template-columns: ; */
    }

    .header {
        .header-wrapper {
            .header-burger-btn {
                width: 1.5rem;
                aspect-ratio: 1;
                position: absolute;
                top: 8rem;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                place-content: center;
                z-index:999;
                cursor: pointer;
                background-color: 255 255 255 255 0.8;
                border-radius: 50%;
                padding: 2rem;
            }
            
            .header-burger-btn > span,
            .header-burger-btn > span::before,
            .header-burger-btn > span::after {
                width: 1.5rem;
                height: 2px;
                position: absolute;
                background-color: black;
                transition: all .3s ease;
            }

            .header-burger-btn > span::before {
                content: '';
                top: -8rem;
            }

            .header-burger-btn > span::after {
                content: '';
                top: -8rem;
            }
            
            .header-burger::checked .header-burger-btn > span {
                transform: rotate(45deg);
            }
            .header-burger::checked .header-burger-btn > span::before {
                transform: rotate(0deg);
                top: 0;
            }
            .header-burger::checked .header-burger-btn > span::after {
                transform: rotate(90deg);
                top: 0;
            }
        

            .navigation {
                position: absolute;
                top: 100%;
                right: 0;
                z-index: 10;
                width: 70%;
                height: 100vh;
                background-color: var(--bg-gradient);

                
                .navigation-list {

                    .navigation-item {

                        .navigation-link {
                        }
                    }
                }
            }
        }
    }

    .hero {
        height: 80vh;
        overflow: hidden;
        .hero-wrapper {
            position: relative;
            .hero-information {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50% -50%);
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
    }

    .info-section {
        .section-wrapper {
            .info-section-image-container {
                display: none;
            }

            .info-section-information {
                align-items: center;
                text-align: center;
                padding: 0;
                

                .info-section-text {
                padding: 0;

                }
            }
        }
    }

    .products-section {
        .products-wrapper {
            gap: 2rem;
            .products-information {
                align-items: center;
                text-align: center
                padding: 0;

                .products-text {
                    padding: 0
                }
            }
        }
    }

    .support-section {
        .support-wrapper {
            position: relative;

            .support-information {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                /* background-color: ;
                border-radius: ; */
            }

            .support-image-container {
                width: 100%;
                margin: 0;
                .support-image {
                    width: 100%;
                }
            }
        }
    }

    .start-section {
        .start-wrapper {
        }
    }

    .footer {
        .footer-container {

            .footer-links {
                grid-column: auto / span 2;
            }

            .footer-title {
                grid-column: auto / span 2;
            }
            .footer-social-media {
                grid-column: auto / span 2;
            }
        }
    }
}

@media (max-width: 600px) {
    .hero {
        .hero-wrapper {
            .hero-information {
                top: 50%;
                align-items: center;
                text-align: center;

                .hero-subtitle {
                    font-size: 1.5rem;
                }
                .hero-text {
                    font-size: 1rem;
                    padding: 0;
                    text-align: center;
                }
            }
        }
    }

    .separator {
        display: none;
    }

    .info-section {
        .section-wrapper {
            .info-section-information {
                .info-section-subtitle {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .products-section {
        .products-wrapper {

            .products-list {

                .product-list-item {
                    padding: 1.5rem;
                    
                    i:first-child {
                    }

                
                }
            }

            .products-information {
                .products-subtitle {
                }
            }
        }
    }

    .why-section {
        .why-wrapper {
            .why-information {
                .why-subtitle {
                }
            }

            .why-cards {
            }
        }
    }

    .support-section {
        .support-wrapper {
            .support-information {

                .support-subtitle {
                    font-size: 1rem;
                }

                .support-text {
                    font-size: 1rem;
                }
            }
        }
    }

    .start-section {
        .start-wrapper {
            .start-title {
                font-size: 1.5rem;
            }

            .start-container {
                flex-direction: column;
            }
        }
    }

    .footer {
        .footer-container {
            .footer-social-media {
                grid-template-columns: auto / span 4;
            }
        }
    }
}